.Button {
  display: inline-block;
  align-self: center;
  border: none;
  border-radius: 15px;
  border-color: transparent;
  padding: 4px 10px;
  margin-left: 2px;
  margin-right: 2px;
  min-width: 75px;
  background-color: #359d1b;
  box-shadow: 0 5px #277c11;
}

.Button:hover {
  cursor: pointer;
  background-color: #368e20;
}

.Button:active {
  background-color: #4bac33 !important;
  box-shadow: none;
}

.Button:focus {
  background-color: #359d1b;
  box-shadow: 0 5px #2b8714; 
}

.Wide {
  padding: 10px 50px;
  width: 100%;
}

.Button:not(:disabled):not(.disabled):active:focus {
  box-shadow: none;
}

/* .Blue,
.BlueOutline:hover,
.Bright:hover {
  background-color: #2142b2;
  color: #ffffff;
}

.BlueOutline,
.Blue:hover {
  background-color: #ffffff;
  color: #2142b2;
}

.Black,
.BlackOutline:hover {
  background-color: #646464;
  color: #ffcdec;
}

.Black:hover,
.BlackOutline {
  background-color: #ffcdec;
  color: #646464;
} */

.Bright {
  background-color: #359d1b;
  color: #FFFFFF;
}