.Button {
  display: inline-block;
  align-self: center;
  border: none;
  border-radius: 15px;
  border-color: transparent;
  padding: 4px 10px;
  margin-left: 2px;
  margin-right: 2px;
  min-width: 75px;
}

.Button:hover {
  cursor: pointer;
  color: #cbf2c2;
  background-color: #359d1b;
}

.Button:active {
  background-color: #277c11 !important;
  box-shadow: none;
}

.Button:focus {
  background-color: #359d1b;
  box-shadow: 0 5px #2b8714;
}

.Wide {
  padding: 10px 50px;
  width: 100%;
}

.Button:not(:disabled):not(.disabled):active:focus {
  box-shadow: none;
}

.Yellow,
.YellowOutline:hover {
  background-color: #ffde59;
  box-shadow: 0 5px #f9d238;
  color: #646464;
}

.YellowOutline,
.Yellow:hover {
  background-color: #ffde59;
  box-shadow: 0 5px #f9d238;
  color: #313131;
}

.Yellow:focus {
  background-color: #ffde59;
  box-shadow: 0 5px #f9d238;
  color: #646464;
}

.Yellow:active {
  background-color: #f9d238 !important;
}

.Yellow:not(:disabled):not(.disabled):active:focus {
  color: #646464;
}

/* .Black,
.BlackOutline:hover {
  background-color: #646464;
  color: #ffcdec;
}

.Black:hover,
.BlackOutline {
  background-color: #ffcdec;
  color: #646464;
} */

.Green {
  background-color: #359d1b;
  box-shadow: 0 5px #277c11;
  color: #fff;
}
