.NavBar {
    background-color: #FFF8FC;
    border: solid #ffcdec 1px;
}

.NavLink {
    padding: 5px;
}

.Active i {
    color: #FF66C4;
}

.NavBrand img {
    height: 60px;
}

@media screen and (min-width: 768px) {
    .NavBar{
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        right: auto;
        height: 100vh;
        width: 180px;
    }

    .NavContainer{
        display: flex;
        flex-direction: column;
    }

    .NavBrand {
        padding: 0;
        margin: 0;
    }

    .NavBrand img {
        height: auto;
    }

}