.App {
  font-family: "Nunito", sans-serif;
  background-color: #fff;
  min-height: 100vh;
}

.Main {
  padding-top: 100px;
}

.Content {
  background-color: #ffffff;
  padding: 10px;
}

.Border {
  border-radius: 2px;
  border: 1px solid #dadadf;
}

.Column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.FillerImage {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.Image {
  max-height: 40vh;
  max-width: 100%;
  object-fit: contain;
}

* {
  box-sizing: border-box;
}

a {
  color: #646464;
  transition: color ease-in-out 0.3s;
}

a:hover {
  text-decoration: none;
  color: #313131;
}

a:hover i {
  color: #ff66c4;
  transition: color ease-in-out 0.3s;
}

input[type="file"] {
  display: none;
}

i {
  color: #cfced3;
  font-size: 1.3rem;
  padding: 7px;
  vertical-align: middle;
}

i:hover {
  cursor: pointer;
  transition: color ease-in-out 0.3s;
  color: #ff66c4;
}

figure {
  text-align: center;
  display: inline-block;
}

.Padding20 {
  padding: 20px;
}

/* scrollbar */
*::-webkit-scrollbar {
  width: 5px;
}
*::-webkit-scrollbar-track {
  background: #f1f1f1;
}
*::-webkit-scrollbar-thumb {
  background: #888;
}
*::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media screen and (min-width: 768px) {
  .Main {
    padding-top: 30px;
    padding-left: 170px;
  }
}
